*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;

 }
 body{
   min-height: 100dvh;
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
   }
 #root{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
 }
 header{
   border: rgb(32, 31, 31) solid 3px;
   height: 100px;
   background-color: #333;
 }
 .container{
   position: relative;
 }
 .corner{
   position: absolute;
   top:0;
   right: 0;
   background-color: #333;
   color: black;
   padding: 10px;
   text-decoration: none;
   border-left: 2px rgb(32, 31, 31) solid;
   border-bottom: 2px rgb(32, 31, 31) solid;
   border-radius: 6px;
   width: 79px;
 }
 .sin{
   position: absolute;
   bottom: 0;
   right: 0;
   padding: 9px;
   text-decoration: none;
   border-left: 2px rgb(32, 31, 31) solid;
   border-top: 2px rgb(32, 31, 31) solid;
   color: black;
   border-radius: 6px;
   width: 79px;
   height: 40px;
 }
 a#main-a{
   text-decoration: none;
 }
 ul{
    display: flex;
    justify-content: center;
 }
 h1{
    padding: 20px;
    background-color: #333;
    text-align: center;
 }
  li{
    list-style: none;
 }
 h2#main-h2{
   background-color: #333;
   color: aliceblue;
   border: rgb(32, 31, 31) solid 2px;
   margin: 10px;
   border-radius: 10px;
   padding: 5px;
}
h2#main-h2:hover{
 transition: 500ms;
 scale: 1.1 1.1;
}
h2#main-h2{
  transition: 500ms;
  scale: 1 1;
}
.container{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
h2#main-h2:hover{
  transition: 500ms;
  scale: 1.1 1.1;
}
 footer{
    padding: 10px;
    background-color: #333;
    text-align: center;
    border: rgb(32, 31, 31) solid 3px;
 }
 .link-parent{
   display: flex;
   justify-content:center;
   display: grid;
   grid-template-columns: repeat(4, auto);
   gap: 4px;
   & a{
   border: rgb(32, 31, 31) solid 2px;
   border-radius: 6px;
   padding: 10px;
}
& span{
   border: rgb(32, 31, 31) solid 2px;
   border-radius: 6px;
   padding: 10px;
}
 }
 div#contact  a{
    padding: 10px;
    display: inline-block;
    color: black;
    text-decoration: none;
 }
 .gradient {
   background: linear-gradient(to bottom left, #5b9991, #646464);
}