* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100dvh;
  font-family: Arial, sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
#root {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}
header{
  border: rgb(32,31,31) solid 3px;
  height: 100px;
  background-color: #333;
}
.container{
  position: relative;
}
.corner{
  position: absolute;
  top:0;
  right: 0;
  background-color: #333;
  color: black;
  padding: 10px;
  text-decoration: none;
  border-left: 2px rgb(32, 31, 31) solid;
  border-bottom: 2px rgb(32, 31, 31) solid;
  border-radius: 6px;
  width: 79px;
}
.sin{
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 9px;
  text-decoration: none;
  border-left: 2px rgb(32, 31, 31) solid;
  border-top: 2px rgb(32, 31, 31) solid;
  color: black;
  border-radius: 6px;
  width: 79px;
  height: 40px;
}
a{
  color: black;
  text-decoration: none;
}
ul{
  display: flex;
  justify-content: center;
  list-style: none;
}
h1 {
  padding: 20px;
  background-color: #333;
  text-align: center;
}
li {
  list-style: none;
}
h2#main-h2{
   background-color: #333;
   color: aliceblue;
   border: rgb(32, 31, 31) solid 2px;
   margin:10px;
   border-radius: 10px;
   padding: 5px;
   transition: 500ms;
   scale: 1 1;
}
h2#main-h2:hover{
  transition: 500ms;
  scale: 1.1 1.1;
}
h2#main-h2:hover{
  transition: 500ms;
  scale: 1.1 1.1;
}
h2#main-h2{
  transition: 500ms;
  scale: 1 1;
}
img.alt {
  color: black;
}
img {
 margin: 20px;
 border: rgb(32,31,31) solid 3px;
 border-radius: 10px;
}
div.animation img:hover{
  transition: 500ms;
  scale: 1.1 1.1;
}
img{
  transition: 500ms;
  scale: 1 1;
}
footer {
  padding: 10px;
  background-color: #333;
  text-align: center;
  border: rgb(32,31,31) solid 3px;
}
div#contact a {
  display: inline-block;
  padding: 10px;
  color: black;
  text-decoration: none;
}
.link-parent {
  display: flex;
  justify-content: center;
}
.link-parent {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 20px;
  & a{
  border: rgb(32, 31, 31) solid 2px;
  border-radius: 6px;
}
& span{
  border: rgb(32, 31, 31) solid 2px;
  border-radius: 6px;
  padding: 10px;
}
}
.gradient {
  background: linear-gradient(to bottom left, #5b9991, #646464);
}
